[Desktop Entry]
Name=Weather Widget Plus
Comment=Plasmoid showing weather information from Met.no server
Icon=weather-clouds
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-KDE-PluginInfo-Category=Environment and Weather
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Tully Turk
X-KDE-PluginInfo-Email=tully.turk@proton.me
X-KDE-PluginInfo-Name=weather.widget.plus
X-KDE-PluginInfo-Version=4.4
X-KDE-PluginInfo-Website=https://github.com/tully-t/weather-widget-plus
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-EnabledByDefault=false
X-Plasma-RemoteLocation=

Name[ca_ES]=Widget de Clima Plus
Name[cs]=Weather Widget Plus
Name[de]=Weather Widget Plus
Name[es]=Widget del Clima Plus
Name[nb]=Weather Widget Plus
Name[nl]=Weerwidget Plus
Name[pt_BR]=Widget do Tempo Plus
Name[ru]=Виджет погоды плюс
Name[sv]=Weather Widget Plus
Comment[ca_ES]=Plasmoid que mostra informació del temps del servidor de Met.no
Comment[cs]=Widget pro předpověď počasí
Comment[de]=Plasmoid zeigt Wetterinformationen des Met.no-Servers
Comment[es]=Plasmoide que muestra información meteorológica del servidor Met.no
Comment[nb]=Plasmoid som viser værinformasjon fra Met.no
Comment[nl]=Een plasmoid die weerinformatie toont van de Met.no-server
Comment[pt_BR]=Plasmoide que exibe informações meteorológicas do servidor Met.no
Comment[ru]=Плазмоид, показывающий информацию о погоде с сервера Met.no
Comment[sv]=Plasmoid som visar väderinformation från Met.no
Comment[zh_CN]=添加 Open Weather Map
